
.storeName {
 font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
button {
  cursor: pointer !important;
}
@keyframes progress {
  0% {
    width: 0%;
  }
  50% {
    width: 75%;
  }
  100% {
    width: 0%;
  }
}

@utility animate-progress {
  animation: progress 1.5s ease-in-out infinite;
}
